# Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
df = pd.read_csv('data/nyt_corpus.csv')
n = df.shape[0]
df.shape

(100000, 32)

In [24]:
df.columns

Index(['abstract', 'author_info', 'copyright_holder', 'copyright_year',
       'descriptor', 'desk', 'full_text', 'general_descriptor', 'headline',
       'id', 'indexing_descriptor', 'indexing_location', 'indexing_org',
       'indexing_person', 'lead_paragraph', 'length', 'length_unit',
       'normalized_byline', 'online_headline', 'online_sections',
       'print_byline', 'print_column', 'print_page_number', 'print_section',
       'publication_day_of_month', 'publication_day_of_week',
       'publication_month', 'publication_year', 'series_name',
       'taxonomic_classifier', 'title', 'types_of_material'],
      dtype='object')

In [25]:
# possible labels - desk works best
df[['desk','general_descriptor','online_sections','taxonomic_classifier']][-10:]

,desk,general_descriptor,online_sections,taxonomic_classifier
99990,National Desk,"['Governors (US)', 'Election Issues', 'Budgets...",U.S.,"['Top/News/U.S.', 'Top/News/U.S./U.S. States, ..."
99991,Magazine Desk,"['Threats and Threatening Messages', 'Immigrat...",Magazine,['Top/News/World/Countries and Territories/Net...
99992,The Arts/Cultural Desk,['Music'],Arts,"['Top/News', 'Top/Features/Arts', 'Top/Feature..."
99993,Foreign Desk,['Drug Abuse and Traffic'],World,"['Top/News', 'Top/News/World/Countries and Ter..."
99994,Real Estate Desk,"['Rent Control and Stabilization', 'Real Estat...",Real Estate,"['Top/Classifieds/Real Estate', 'Top/Classifie..."
99995,Money and Business/Financial Desk,"['Motion Pictures', 'Taxation', 'Law and Legis...",Movies; Corrections; Business,"['Top/News/Business', 'Top/News/Corrections', ..."
99996,Financial Desk,"['Company Reports', 'Corporations']",Business,['Top/News/Business']
99997,Classified,NaN,Paid Death Notices,['Top/Classifieds/Paid Death Notices']
99998,Metropolitan Desk,"['Robberies and Thefts', 'Automobiles']",New York and Region,"['Top/News/U.S./U.S. States, Territories and P..."
99999,National Desk,"['Surveillance of Citizens by Government', 'Wi...",U.S.; Washington,"['Top/News/U.S.', 'Top/News', 'Top/News/Washin..."

In [26]:
# pct nulls for each possible labels
(n - df[['desk','general_descriptor','online_sections','taxonomic_classifier']].count())/n

desk                    0.00343
general_descriptor      0.21045
online_sections         0.02268
taxonomic_classifier    0.01484
dtype: float64

In [27]:
# these will be cleaned up for the final dataframe
df.groupby('desk')['desk'].count()

desk
"PROFILE: Elizabeth Peterken McCaughey Ross"                                        1
1;             Foreign Desk                                                         1
A Nation Challenged                                                                10
Amato finished shaving and smoothed his cheeks with his hands.                      1
An odd bit of text that you could stumble across on Tallmo's Web site puts it       1
Arts & Ideas/Cultural Desk                                                        203
Arts & Leisure Desk                                                               358
Arts and Leisure Desk                                                            1523
Automobiles                                                                       105
Autumn Times Supplement                                                             3
Bob Ross, a senior and the convention's political chairman, fretted                 1
Book Review Desk                                                                 1815
Book Review Dest                                                                    1
Boston 2004                                                                         1
Business Desk                                                                       3
Business Travel                                                                     2
Business World Magazine                                                             3
Business/Financial Desk                                                          6160
Business/Financial Desk;                                                            2
Business/Financial desk                                                             3
Business/FinancialDesk                                                              8
Business\Financial Desk                                                             4
Careers Supplement                                                                  2
Careers Supplement Desk                                                             2
Cars                                                                               14
Circuits                                                                          464
Classfied                                                                           1
Classifed                                                                           9
Classified                                                                       6917
Classified Desk                                                                    27
                                                                                 ...
The City                                                                            2
The City Weekly Desk                                                             1299
The City Weekly/Queens                                                             28
The Good Health Magazine                                                            2
The Marathon                                                                        7
The Millennium                                                                      6
The Natural World                                                                   1
The New Season Magazine                                                             1
The Year in Pictures                                                                3
Then & Now                                                                          1
Thursday Styles                                                                    54
Thursday Styles Desk                                                                1
Travel Desk                                                                      1245
Vacation                                                                            3
Week In Review Desk                                                                57
Week In Review DeskWeek In Review Desk                                              1
Week in Review                                                                     13
Week in Review Desk                                                              1169
Week in Review desk                                                                 1
Weekend Desk                                                                     1005
Weekend DeskWeekend Desk                                                            7
Weekin Review Desk                                                                  1
Westchester Weekly Desk                                                          1122
Winter Times Supplement                                                             1
Wireless Living                                                                     2
Women's Health                                                                      8
Working                                                                             6
Workplace                                                                          19
World of New York Magazine                                                          6
Your Taxes Supplement                                                               1
Name: desk, Length: 176, dtype: int64

In [32]:
df2 = pd.DataFrame(pd.concat([df.desk.str.lower().str.replace('desk', '').str.strip().str.replace(' and ', ' & ').str.replace('\\', '/'),
                              df.lead_paragraph,
                              df.full_text#,
                              #df.nouns,
                              #df.lemmas
                             ], axis=1))
df2.groupby('desk')['desk'].count()

desk
                                                                                    5
"profile: elizabeth peterken mccaughey ross"                                        1
1;             foreign                                                              1
a nation challenged                                                                10
amato finished shaving & smoothed his cheeks with his hands.                        1
an odd bit of text that you could stumble across on tallmo's web site puts it       1
arts & ideas/cultural                                                             203
arts & leisure                                                                   1881
automobiles                                                                       105
autumn times supplement                                                             3
bob ross, a senior & the convention's political chairman, fretted                   1
book review                                                                      1815
book review dest                                                                    1
boston 2004                                                                         1
business                                                                            3
business travel                                                                     2
business world magazine                                                             3
business/financial                                                               6175
business/financial ;                                                                2
careers supplement                                                                  4
cars                                                                               14
circuits                                                                          464
classfied                                                                           1
classifed                                                                           9
classified                                                                       6944
classifieds                                                                        50
classsified                                                                         3
connecticut weekly                                                                951
cultural                                                                         2137
dining in, dining out/cultural                                                      1
                                                                                 ...
television                                                                        104
the arts/cultrual                                                                   1
the arts/cultural                                                                2089
the city                                                                            2
the city weekly                                                                  1299
the city weekly/queens                                                             28
the good health magazine                                                            2
the marathon                                                                        7
the millennium                                                                      6
the natural world                                                                   1
the new season magazine                                                             1
the year in pictures                                                                3
then & now                                                                          1
tholiday                                                                            7
thursday styles                                                                    55
travel                                                                           1245
vacation                                                                            3
week in review                                                                   1240
week in review week in review                                                       1
weekend                                                                          1005
weekend weekend                                                                     7
weekin review                                                                       1
westchester weekly                                                               1122
winter times supplement                                                             1
wireless living                                                                     2
women's health                                                                      8
working                                                                             6
workplace                                                                          19
world of new york magazine                                                          6
your taxes supplement                                                               1
Name: desk, Length: 159, dtype: int64